absl-py==0.15.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==1.3.0
altair==5.0.1
anyio==3.7.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrdict==2.0.1
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
bce-python-sdk==0.8.74
beautifulsoup4==4.11.1
bleach==5.0.1
cachetools==5.2.0
certifi @ file:///C:/b/abs_ac29jvt43w/croot/certifi_1665076682579/work/certifi
cffi==1.15.1
charset-normalizer==2.1.1
chromedriver-autoinstaller==0.4.0
click==8.1.3
colorama==0.4.5
combo==0.1.3
cssselect==1.1.0
cssutils==2.6.0
cvxopt==1.3.0
cycler==0.11.0
Cython==0.29.32
dataclasses==0.6
datasets==2.13.1
debugpy==1.6.3
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.5.1
easydict==1.10
easyocr==1.6.1
efficientnet-pytorch==0.7.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
fastapi==0.97.0
fastjsonschema==2.16.1
ffmpy==0.3.0
filelock==3.12.0
fire==0.4.0
Flask==2.2.2
Flask-Babel==2.0.0
flatbuffers==23.5.26
fonttools==4.37.1
frozenlist==1.3.3
fsspec==2023.1.0
future==0.18.2
gast==0.3.3
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gradio==3.34.0
gradio_client==0.2.6
graphviz @ file:///C:/Windows/TEMP/abs_7a4z36rraa/croots/recipe/python-graphviz_1660063185022/work
grpcio==1.32.0
h11==0.14.0
h5py==2.10.0
haversine==2.8.0
httpcore==0.17.2
httpx==0.24.1
huggingface-hub==0.15.1
idna==3.3
imageio==2.21.3
imageio-ffmpeg==0.4.8
imgaug==0.4.0
importlib-metadata==4.12.0
importlib-resources==5.9.0
imutils==0.5.4
intervaltree==3.1.0
ipykernel==6.15.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonpickle==2.2.0
jsonschema==4.15.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
klib==1.0.1
linkify-it-py==2.0.2
llvmlite==0.31.0
lmdb==1.3.0
lxml==4.9.1
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mediapipe==0.8.0
mistune==2.0.4
moviepy==1.0.3
mpmath==1.2.1
multidict==6.0.4
multiprocess==0.70.13
munch==2.5.0
natsort==8.2.0
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
ninja==1.10.2.3
nltk==3.7
notebook==6.4.12
numba==0.48.0
numpy==1.19.5
oauthlib==3.2.0
opencv-contrib-python==4.6.0.66
opencv-python==3.4.18.65
opencv-python-headless==4.5.4.60
openpyxl==3.0.10
opt-einsum==3.3.0
orjson==3.9.1
outcome==1.2.0
packaging==21.3
paddle-bfloat==0.1.7
paddleocr==2.6.0.1
paddlepaddle==2.3.2
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
plotly==5.10.0
pm4py==2.5.2
premailer==3.10.0
pretrainedmodels==0.7.4
proglog==0.1.10
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.19.4
psutil==5.9.1
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.3.0.post3
pycparser==2.21
pycryptodome==3.15.0
pydantic==1.10.9
pydotplus==2.0.2
pydub==0.25.1
Pygments==2.13.0
pyod==1.0.5
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==0.21.1
python-multipart==0.0.6
pytorch-model-summary==0.1.2
pytube==15.0.0
pytz==2022.2.1
pyvis==0.3.0
PyWavelets==1.3.0
pywin32==304
pywinpty==2.0.7
PyYAML==6.0
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
qudida==0.0.4
rapidfuzz==2.11.1
regex==2022.9.13
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.3.1
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
selenium==4.8.2
semantic-version==2.10.0
Send2Trash==1.8.0
Shapely==1.8.4
six==1.15.0
sklearn==0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.2.post1
split-folders==0.5.1
starlette==0.27.0
statsmodels==0.13.2
StringDist==1.0.9
suod==0.0.8
sympy==1.10.1
tenacity==8.1.0
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.0
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
tifffile==2021.11.2
timm==0.9.2
tinycss2==1.1.1
toolz==0.12.0
torch==1.7.1+cu110
torchaudio==0.7.2
torchsummary==1.5.1
torchvision==0.8.2+cu110
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
trio==0.22.0
trio-websocket==0.10.0
ttach==0.0.3
typing_extensions==4.3.0
uc-micro-py==1.0.2
urllib3==1.26.12
uvicorn==0.22.0
visualdl==2.4.1
wcwidth==0.2.5
webdriver-manager==4.0.1
webencodings==0.5.1
websockets==11.0.3
Werkzeug==2.2.2
widgetsnbextension==4.0.3
wincertstore==0.2
wrapt==1.12.1
wsproto==1.2.0
xxhash==3.3.0
yarl==1.9.2
zipp==3.8.1
